.hero {
  flex-direction: column;
  flex-wrap: wrap;
  width: 635px;
}

.card {
  padding: 40px;
}

.first .title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.first .description {
  font-size: 1.8rem;
}

.first .text {
  font-size: 1.6rem;
  line-height: 25px;
}

.bottom {
  display: flex;
}

.button:link,
.button:visited {
  padding: 12px 90px;
}

.second {
  width: 50%;
  border-radius: 0 0 0 5px;
}

.second .price {
  font-size: 3rem;
}

.second .price span {
  font-size: 1.4rem;
}

.second .text {
  font-size: 1.6rem;
}

.third {
  width: 50%;
  border-radius: 0 0 5px 0;
}

.third .list li {
  opacity: 0.9;
  line-height: 18px;
}
